.pelicula {
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 16px;
  margin: 16px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
}

.titulo {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 12px;
}

.boton {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton:hover {
  background-color: #0056b3;
}


/* Cambio el color del texto que aparece al hacer click al botón*/

.anio {
  margin-top: 10px;
  color: #555;      /* color por defecto */
}

.actores {
  margin-top: 5px;
  color: #555;   /* color para actores */
}
